.carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
}


.fading {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  .carousel-inner {
    .item {
      -webkit-transition:.9s ease-in-out opacity;
      -moz-transition: .9s ease-in-out opacity;
      -ms-transition: .9s ease-in-out opacity;
      -o-transition: .9s ease-in-out opacity;
      transition: .9s ease-in-out opacity;
      &.active, &.next.left {
        opacity: 1;
      }
      &.next, &.active.left {
        opacity: 0;
      }
    }
  }
  .right,.left {
    background-image: none;
  }
}
