<header ng-controller="HeaderCtrl">
  <nav class="padding">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img class="responsive-img" ng-if="BRANDLOGO_URL" src="{{BRANDLOGO_URL}}" alt="Logo">
        <div ng-if="BRAND_NAME">{{BRAND_NAME}}</div>
      </a>
      <a href="#" data-activates="responsive-menu"
         class="button-collapse"><i class="medium material-icons ion-android-menu"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">{{ ABOUT_US }}</a></li>
        <li><a href="">{{ CONTACTS }}</a></li>
        <li><button class="btn waves-effect white grey-text darken-text-2">{{ QUICK_ACTION }}</button></li>
      </ul>
      <ul class="side-nav" id="responsive-menu">
        <li><a href="">{{ ABOUT_US }}</a></li>
        <li><a href="">{{ CONTACTS }}</a></li>
        <li><button class="btn waves-effect white grey-text darken-text-2">{{ QUICK_ACTION }}</button></li>
      </ul>
    </div>
  </nav>
</header>
