<header ng-controller="HeaderCtrl as header">
  <nav class="padding">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img class="responsive-img" ng-if="header.BRANDLOGO_URL" src="{{header.BRANDLOGO_URL}}" alt="Logo">
        <div ng-if="header.BRAND_NAME">{{header.BRAND_NAME}}</div>
      </a>
      <a href="#" data-activates="responsive-menu"
         class="button-collapse"><i class="medium material-icons ion-android-menu"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">{{ 'ABOUT' | translate}}</a></li>
        <li><a href="">{{ 'CONTACTS' | translate}}</a></li>
        <li><button class="btn waves-effect white grey-text darken-text-2">{{ 'QUICK_ACTION' | translate }}</button></li>
      </ul>
      <ul class="side-nav" id="responsive-menu">
        <li><a href="">{{ 'ABOUT'  | translate}}</a></li>
        <li><a href="">{{ 'CONTACTS' | translate}}</a></li>
        <li><button class="btn waves-effect white grey-text darken-text-2">{{ 'QUICK_ACTION' | translate }}</button></li>
      </ul>
    </div>
  </nav>
</header>
